Hello <b>{{ .FirstName }} {{ .LastName }}</b>


Welcome {{ .FirstName }} {{ .LastName }} to the Ninja Group! We are now LIVE.
<br>
To get involved, please visit: 
<br>
-----------
<br>
Website(mobile only): <a href="https://ninja.org/">https://ninja.org/</a>
<br>
Twitter: <a href="https://twitter.com/ninja_org">https://twitter.com/ninja_org</a>
<br>
Medium blog: <a href="https://medium.com/@ninja_org"></a>
<br>
<br>
- NO SPAM [You will be automatically banned]
<br>
- No bad mouthing
<br>
- Deliver value to the discussion
<br>
- Share any relevant news and articles